# Eat Safe, Love

## Notebook Set Up

In [2]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [25]:
# Find the establishments with a hygiene score of 20
query = {'scores.hygiene': 20 }
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
counts = establishments.count_documents({'scores.hygiene': 20 })

# Display the first document in the results using pprint
[pprint(result) for result in results]

[]

In [13]:
# Convert the result to a Pandas DataFrame
pd = pd.DataFrame(query)
# Display the number of rows in the DataFrame
row_count = pd.shape[0]
print(row_count)
# Display the first 10 rows of the DataFrame
pd.head(10)

0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [21]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = establishments.find({'LocalAuthorityName': 'London"}, {'RatingValue': {'$gte': 4}})

# Use count_documents to display the number of documents in the result
counts = db.establishments.count_documents({'establishments.LocalAuthorityName.London.RatingValue': {'$gte': 4}})
# Display the first document in the results using pprint
pprint(query[0])

IndexError: no such item for Cursor instance

In [ ]:
# Convert the result to a Pandas DataFrame
pd = DataFrame(results)
# Display the number of rows in the DataFrame
row_count = df.shape[0]
print(row_count)
# Display the first 10 rows of the DataFrame
pd.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

In [ ]:
# Convert result to Pandas DataFrame
pd = DataFrame(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'establishments.hygiene': {'$gte': 0}} }
group_query = {'$group': {'_id': "$localAuthority"}}
sort_values = {'$sort': 1 }
# Print the number of documents in the result
print("Number of documents in result: ", len(results))
# Print the first 10 results
pprint(results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
pd = DataFrame(results)

# Display the number of rows in the DataFrame
row_count = df.shape[0]
print(row_count)
# Display the first 10 rows of the DataFrame
pd.head(10)